nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

nav li {
  border: 1px solid #000000;
  padding: 0px;
  margin: 10px;
  width: 175px;
  background-color: green;
  color: white;
  border: 2px solid blue;
}

nav li a {
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px;
  background-color: green;
  display: block;
}

nav li a:hover {
  background-color: darkgreen;
}
